# Maven
backend/target/
backend/.mvn/
*.jar
*.war

# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
nohup.out

# Secrets (no subir esto si lo separas en .env)
# application.properties  ← lo dejamos porque tiene las credenciales de Neon

